@import '/root.css';

section {
    padding: 1rem clamp(2.5rem, 0.875rem + 8.125vw, 10.625rem);
    overflow: hidden;
}

.s-1 {
    text-align: center;
    height: calc(100vh - 67px);
    color: var(--btn-white-c);
    background-image: linear-gradient(to bottom, var(--faded-blue) 50%, rgba(224, 224, 224, 0.954) 50%);
}

.contact-us {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    width: 95%;
    text-align: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact-us .aside_1 {
    width: 60%;
    background-color: var(--btn-white-c);
    color: var(--primary-black);
    padding: 20px;
}
.contact-info{
    display: grid;
    grid-template-columns: auto auto;
    gap:20px;
}
.contact-info div{
    background-color: beige;
    text-align: center;
}
.contact-info div:nth-child(1){
    grid-row: 1/3;
}

.contact-us .aside_2 {
    width: 40%;
    background-color: var(--primary-blue);
    color: var(--btn-white-c);
    padding: 20px;
}
.fa-location-dot{
    margin: 5px 10px 0 0;
    font-size: 22px;
}
.contact-address{
    display: flex;
    margin-top: 20px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10%;
    margin-top: 50px;
}
.social i {
    font-size: 20px;
}