@import './root.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    border: none;
    outline: none;
    list-style: none;
}

.icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    height: 20px;
    width: 20px;
}
.icon-advanced {
    background-image: url('./imageAndSvg/navSvg/Vector.svg');
}

.nav {
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 12px clamp(2.5rem, 0.875rem + 8.125vw, 10.625rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--common-white);
    box-shadow: 0 -29px 62.2px 0 var(--basic-box-sha);
    font-style: normal;
    font-weight: var(--md-font-w);
    line-height: normal;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlist {
    display: flex;
    gap: var(--gap-nav);
    color: var(--primary-blue);
    font-size: var(--font-size-20);
}

.navlist li {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--primary-blue);
    font-size: var(--font-size-24);
}

/* section 9  || footer css */
footer {
    background-color: var(--primary-blue);
    color: var(--common-white);
}

.section9 {
    padding: 3% 8%;
}

footer>p {
    background-color: var(--dark-blue-bg);
    text-align: center;
    font-size: var(--font-size-16);
    font-weight: var(--sm-font-w);
    padding: 8px;
}

.f-aside1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid rgba(255, 255, 255, 0.27);
    padding-bottom: 30px;
}

.f-logo {
    color: var(--common-white);
    font-size: var(--font-size-36);
    font-weight: var(--lg-font-w);
    gap: 20px
}

.f-logo img {
    height: clamp(2.688rem, 1.419rem + 2.255vw, 4.125rem);
    width: clamp(2.5rem, 1.397rem + 1.961vw, 3.75rem);
}

.f-aside1 div p:nth-child(2) {
    font-size: var(--font-size-16);
    font-weight: var(--md-font-w);
    padding: 5px;
}

.f-in {
    outline: 1px solid var(--primary-yellow) !important;
}

.f-mail-p {
    margin: 8px 10px 16px 0;
}

.f-social {
    display: flex;
    gap: 15px;
}

.f-social img {
    padding: 8px;
    width: clamp(2.25rem, 1.919rem + 0.588vw, 2.625rem);
    height: clamp(2.25rem, 1.919rem + 0.588vw, 2.625rem);
    background-color: var(--dark-blue-bg);
    border-radius: 8px;
}

.f-aside2 {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.f-aside2 dl:nth-child(2) {
    justify-self: center;
}

.f-aside2 dl {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.f-aside2 dl dt {
    font-size: var(--font-size-24);
    font-weight: var(--md-font-w);
}

.f-aside2 dl dd {
    font-size: var(--font-size-16);
    font-weight: var(--sm-font-w);
}